.Rproj.user
.Rhistory
.RData
.Ruserdata
sims/plots/
sims/results_draft/scenario1_results.csv
sims/results_draft/scenario2_results.csv
sims/results_draft/scenario3_results.csv
sims/results_final/scenario1_results.csv
sims/results_final/scenario2_results.csv
sims/results_final/scenario3_results.csv
sims/improving_logistic_regression.R
sims/improving_logistic_regression_2.R
sims/variance_sims/scenario4_var_datagen_cluster_local.R
sims/results_old/
fixlogreg_scen3local.R
sims/fix_logisticreg.R
sims/misc_old_files/
sims/old_misc/
sims/old_res/
Sims/old_misc/fix_logisticreg.R
