pkg/
pkg/NAMESPACE
pkg/R/
pkg/R/estimation_fns.R
.Rproj.user
.Rhistory
.RData
.Ruserdata
sims/plots/
sims/results_draft/scenario1_results.csv
sims/results_draft/scenario2_results.csv
sims/results_draft/scenario3_results.csv
sims/results_final/scenario1_results.csv
sims/results_final/scenario2_results.csv
sims/results_final/scenario3_results.csv
sims/improving_logistic_regression.R
sims/improving_logistic_regression_2.R
sims/variance_sims/scenario4_var_datagen_cluster_local.R
sims/results_old/
fixlogreg_scen3local.R
sims/fix_logisticreg.R
sims/misc_old_files/
sims/old_misc/
sims/old_res/
sims/old_misc/fix_logisticreg.R
sims/results_draft/dgp1_var_results.csv
sims/results_draft/dgp1_var_results_test.csv
sims/results_draft/dgp4_results.csv
sims/results_draft/dgp4_results_tests.csv
sims/plot_var_dgp4.R
sims/plot_var_dgp4_tests.R
sims/dgp1_var_transform.R
sims/var/dgp1_var_transform.R
sims/bias/dgp1_bias_transform.R
sims/cluster/dgp3/old/
sims/cluster/dgp4/old/
reiczigel_testing.R
sims/var/dgp1_var_logshift.R
sims/var/dgp1_var_arcsine.R
sims/var/dgp1_var_reiczigel.R
sims/results_draft/dgp1_var_results_arcsine.csv
sims/results_draft/dgp1_var_results_logshift.csv
sims/results_draft/dgp4_results_varysp.csv
sims/cluster/dgp4_varysp
sims/plot_var_edited.R
extra_estimation_fns.R
sims/figs/bias/old/
sims/figs/var/old/
editing_var_srgm.R
data_analyses/screenNC/serology_raw.csv
data_analyses/screenNC/strataprops_nc_raw.csv
sims/test_plotbias.R
sims/test_plotvar.R
sims/testfigs/
sims/cluster/dgp5/old/
sims/cluster/dgp6/old/
sims/cluster/dgp6_varysp/
sims/debug/
sims/figs/relbias/old/
sims/plot_var_extra.R
sims/test_scripts